@model IEnumerable<DemoApps.Models.EventsMasterResponse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateEvent", "EventMaster")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventExpiredDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventExpiredDate)
        </td>
        <td>
            <a class="btn btn-primary" href="/eventmaster/editevent?ID=@item.ID">Edit</a>
            
            @Html.ActionLink("Delete", "DeleteEvent", "EventMaster", new { ID = @item.ID }, new { onclick = "return confirm('Are you sure wants to delete?');", @class = "btn btn-primary"})
        </td>
    </tr>
}

</table>
